/**********************
* WEBSITEBREDE ELEM.  *
**********************/
body							{ width:100%;padding:61px 0px 0px 0px;min-width:320px; }
.vimeo							{ display:block;border:0px;margin:0px auto;width:300px;height:150px; }
.desktop_only					{ display:none; }
.mobiel_only					{ display:block; }

#header							{ position:fixed;left:0px;top:0px;width:100%;min-width:320px;height:61px; }
#header .content					{ width:100%;margin:0px auto;position:relative;overflow:visible; }
#header .logo					{ position:absolute;left:55%;top:12px;margin-left:-110px;overflow:hidden; }
#header .menu					{ display:none; }
#header .mobielmenu_activator	{ position:absolute;display:block;background:url("../images/icoon.header.mobielmenu.activator.png") center center no-repeat;width:40px;height:40px;left:11px;top:11px;cursor:pointer;overflow:hidden;  }
.menu_mobiel					{ background-color:#000;overflow:hidden;overflow-y:auto;display:block;position:fixed;left:-250px;top:61px;z-index:999; }
.menu_mobiel>ul					{ margin:0px;padding:28px 0px;width:250px;background-color:#000;list-style:none;overflow:hidden; }
.menu_mobiel>ul>li				{ margin:0px;padding:0px;list-style:none;position:relative;overflow:hidden; }
.menu_mobiel>ul>li>a				{ display:block;padding:8px 10px 8px 37px;font-weight:700;background:url("../images/icoon.mobielmenu.inactief.png") left center no-repeat;font-family:"Arimo", arial;color:#b0adad;text-transform:uppercase;font-size:14px;text-decoration:none;overflow:hidden; }
.menu_mobiel>ul>li>a:hover		{ color:#fff;text-decoration:none; }
.menu_mobiel>ul>li.active>a		{ color:#fff;background:url("../images/icoon.mobielmenu.actief.png") left center no-repeat;cursor:default; }
.menu_mobiel>ul>li.active>a:hover 	{ color:#fff; }
.menu_mobiel>ul>li>ul                   	{ padding:0px;margin:0px;display:block;width:250px; }
.menu_mobiel>ul>li>ul>li               	{ margin:0px;padding:0px;list-style:none;overflow:hidden; }
.menu_mobiel>ul>li>ul>li.last     	{ border:0px; }
.menu_mobiel>ul>li>ul>li>a              	{ display:block;font-size:12px;font-weight:400;color:#858383;font-family:"Arimo", arial;text-transform:uppercase;padding:8px 10px 8px 37px;text-decoration:none;overflow:hidden; }
.menu_mobiel>ul>li>ul>li>a:hover  	{ color:#fff;text-decoration:none; }
.menu_mobiel>ul>li>ul>li.active>a 	{ color:#ee2699;cursor:default; }
.menu_mobiel>u>li>ul>li>ul 		{ display:none; }

#footer                        					{ min-width:300px;padding:15px 10px 35px 10px;margin-top:0px; }
#footer .content                       			{ overflow:hidden; }
#footer .content>.kolom					{ display:none; } 
#footer .content>.kolom h5				{ display:none; }
#footer .menu-columns					{ text-transform:lowercase;float:left;overflow:hidden; }
#footer .menu-columns>ul					{ margin:0px;list-style:none;float:left;padding:8px 25px;overflow:hidden; }
#footer .menu-columns>ul>li				{ margin:0px 0px 15px 0px;padding:0px;list-style:none;overflow:hidden; }
#footer .menu-columns>ul>li>a				{ font-size:18px;margin:0px 0px 18px 0px;display:block;color:#fff;font-family:"Arimo", arial;font-weight:normal;text-decoration:none; }
#footer .menu-columns>ul>li ul				{ display:none; }
#footer .menu-columns a:hover			{ color:#ec118f;text-decoration:none; }
#footer .content>.kolom.socialmedia			{ overflow:hidden; }
#footer .content>.kolom.socialmedia a		{ opacity:0.5;display:block;margin-bottom:7px;font-family:arial;font-weight:normal;font-size:12px;text-decoration:none;color:#fff;width:25px;text-indent:-400px; }
#footer .content>.kolom.socialmedia a:hover	{ opacity:1;display:block;text-decoration:none;color:#fff; }
#footer .content>.kolom.socialmedia a img	{ margin-right:3px;vertical-align:-2px; }

.homepagina .tekstblok					{ margin: 0px auto 17px auto;max-width:600px; }
.homepagina .tekstblok h1				{ margin-top:17px; }
.homepagina .filterbalk					{ display:none; }

#fotoheader						{ height:69px;position:relative;overflow:hidden; }
#fotoheader>img                    		{ min-width:320px;min-height:69px;width:100%;position:absolute;left:0px;top:0px;z-index:1; }
#fotoheader .content				{ min-width:320px;width:100%;margin:0px auto;position:relative;overflow:hidden;z-index:9; }
#fotoheader .content h1         		{ float:right;margin:24px 10px 0px 0px;line-height:32px;height:36px;font-size:29px;font-weight:700;color:#fff;font-family:"Arimo", arial;background:url("../images/achtergrond.titel.fotoheader.png") left top repeat;padding:0px 10px;text-transform:lowercase; }


#headerafbeeldingen                         			{ height:148px;width:300px;margin:15px auto 25px auto;overflow:hidden; }
#headerafbeeldingen img                     			{ min-width:300px; }
#headerafbeeldingen .slider                 		{ width:300px;height:14800px;overflow:hidden; }
#headerafbeeldingen .slider .slide         		{ width:300px;height:148px;overflow:hidden; }
#headerafbeeldingen .slider .slide img      	{ width:300px;height:148px; }
#headerafbeeldingen .navigatie              		{ position:absolute;left:9px;bottom:9px; }
#headerafbeeldingen .navigatie div          		{ float:left;width:15px;height:15px;background:url("../images/icoon.navigatie.inactief.headerafbeeldingen.png") center center no-repeat;cursor:pointer; }
#headerafbeeldingen .navigatie div.actief   	{ background:url("../images/icoon.navigatie.actief.headerafbeeldingen.png") center center no-repeat; }

#submenu                            					{ padding:3px 18px;margin:0px 10px 18px 10px;background-color:#f0f0f0;overflow:visible; }
#submenu ul                         					{ margin:0px;padding:0px;overflow:visible; }
#submenu ul>li                      					{ margin:0px;padding:0px;border-bottom:1px solid #cecece;list-style:none;overflow:visible; }
#submenu ul>li.last                 					{ border:0px; }
#submenu ul>li>a                    					{ display:block;text-align:center;font-size:16px;color:#646464;font-family:"Arimo", arial;text-transform:lowercase;padding:6px 0px;text-decoration:none;overflow:hidden; }
#submenu ul>li>a:hover              				{ color:#ec118f;text-decoration:none; }
#submenu ul>li.active>a             				{ color:#ec118f;cursor:default; }
#submenu ul>li>ul                   					{ display:none; }

#content									{ padding:20px 15px;margin:0px auto;background-color:#FFF;overflow:hidden; }
#content .links                    					{ float:none;overflow:hidden; }
#content .rechts                    					{ float:none;overflow:hidden; }
#content .rechts #vers_werk					{ display:none; }
#content .rechts .paginacontactknop			{ display:none; }
#content .rechts #blogminiwidget				{ display:none; }
#content .links>h2							{ text-align:center; }    

#blogwidget										{ max-width:600px;margin:0px auto;float:none;overflow:hidden; }
#blogwidget .item								{ display:block;background-color:#f0f0f0;color:#000;padding:17px;text-decoration:none !important;overflow:hidden; }
#blogwidget .item .links							{ overflow:hidden; }
#blogwidget .item h3								{ font-size:16px;padding:0px;margin:2px 0px 10px 0px;color:#ec118f; }
#blogwidget .item .afbeelding					{ float:left;width:86px;height:101px;margin-right:10px;background:url("../images/achtergrond.blog.persoon.png") center center no-repeat; }							
#blogwidget .item .afbeelding img				{ width:71px;height:71px;padding:6px; }
#blogwidget .item .datum							{ text-align:left;font-size:14px;font-family:"Arimo", arial;color:#adacac;text-decoration:none !important; }


.homepagina #vers_werk .items								{ max-width:600px;margin:0px auto;overflow:hidden }
.homepagina #vers_werk .items .slider						{ max-width:600px;margin:0px auto; }
.homepagina #vers_werk .items .item							{ float:none;width:300px;margin:0px; }
.homepagina #vers_werk .items .item	.afbeelding				{ width:300px;height:170px;position:relative;background-color:#e5e5e5;overflow:hidden; }
.homepagina #vers_werk .items .item	.afbeelding .overlay		{ width:300px;height:170px;position:absolute;top:-170px;left:0px;z-index:9;background:url("../images/overlay.portfolioitem.home.hover.png") center center no-repeat; }
.homepagina #vers_werk .items .item	.info					{ border-bottom:1px solid #dbdbdb;overflow:hidden; }
.homepagina #vers_werk .items .item	.onderschrift,
.homepagina #vers_werk .items .item	.filters				{ display:none; }
.homepagina #vers_werk .items .item	.info h3					{ font-family:"Arimo", arial;font-size:14px;padding:12px 2px 0px 2px;margin-bottom:10px;border:0px;color:#595858; }

#vers_werk										{ margin:15px 0px 5px 0px;overflow:hidden; }
#vers_werk .items								{ width:312px;overflow:hidden }
#vers_werk .items .slider						{ width:31200px;overflow:hidden; }
#vers_werk .items .item							{ display:block;width:312px;height:260px;float:left;overflow:hidden;cursor:pointer;text-decoration:none !important; }
#vers_werk .items .item	.afbeelding				{ width:312px;height:174px;position:relative;background-color:#e5e5e5;overflow:hidden; }
#vers_werk .items .item	.afbeelding .overlay		{ width:312px;height:174px;position:absolute;top:-174px;left:0px;z-index:9;background:url("../images/overlay.portfolioitem.hover.png") center center no-repeat; }
#vers_werk .items .item	.info					{ font-family:"Arimo", arial;font-size:12px;color:#b9b9b9;overflow:hidden; }
#vers_werk .items .item	.info h3					{ font-size:14px;padding:16px 2px 12px 2px;margin-bottom:10px;border-bottom:1px solid #dbdbdb;color:#595858; }


.team_werken_bij h3									{ text-align:center;margin:10px 0px;font-size:18px;font-weight:400;line-height:26px; }
.team_werken_bij #content>.afbeelding				{ float:none;display:block;width:264px;height:260px;margin:5px auto 35px auto; }
#team												{ padding:30px 0px 0px 0px;background-color:#dddddc;overflow:hidden; }
#team .content										{ min-width:300px;margin:0px auto;padding:0px 15px;overflow:visible; }
#werken_bij											{ min-width:300px;padding:30px 15px;margin:0px auto;overflow:hidden; }
#werken_bij>.afbeelding								{ float:none;display:block;width:264px;height:260px;margin:5px auto 35px auto; }


#medewerkers_overzicht											{ overflow:hidden; }
#medewerkers_overzicht .items									{ min-width:320px;overflow:hidden; }
#medewerkers_overzicht .items .item								{ width:308px;height:285px;padding:0px 9px;position:relative;margin:0px auto 22px auto;background:url("../images/achtergrond.medewerkers.afbeelding.png") center top no-repeat;overflow:hidden; }
#medewerkers_overzicht .items .item .afbeelding					{ width:293px;height:184px;margin:7px 8px;position:relative;background-color:#000;overflow:hidden; }
#medewerkers_overzicht .items .item .informatie					{ font-family:"Arimo",arial;padding:0px 3px;font-weight:normal;font-size:12px;color:#969595;overflow:hidden; }
#medewerkers_overzicht .items .item .informatie h4				{ font-size:14px;color:#595858;font-weight:normal;border-bottom:1px solid #bcbcbb;position:relative;padding:15px 0px 12px 0px;margin:0px 0px 12px 0px;overflow:hidden; }


.contactpagina h3									{ text-align:center;margin:10px 0px;font-size:18px;font-weight:400;line-height:26px; }
.contactpagina #content>.afbeelding					{ float:none;display:block;width:264px;height:260px;margin:5px auto 35px auto; }

.contactpagina .blokken								{ margin-top:35px;overflow:hidden; }
.contactpagina .blokken .blok						{ font-family:"Arimo",arial;font-size:14px;line-height:24px;color:#8a8888;margin:0px auto 25px auto;width:308px;overflow:hidden; }
.contactpagina .blokken .blok .afbeelding			{ width:308px;height:174px;margin-bottom:9px;overflow:hidden; }
.contactpagina .blokken .blok h4						{ font-size:14px;font-family:"Arimo", arial;margin:0px 0px 10px 0px;font-weight:400;padding:0px 0px 10px 0px;border-bottom:1px solid #dbdbdb;color:#595858; }
.contactpagina .blokken .blok.social a				{ opacity:0.5;display:block;font-family:"Arimo", arial;font-size:14px;line-height:30px;width:154px;float:left;margin-bottom:7px;text-decoration:none;color:#000; }
.contactpagina .blokken .blok.social a:hover			{ opacity:1;display:block;text-decoration:none;color:#000; }
.contactpagina .blokken .blok.social a img			{ margin-right:3px;vertical-align:-7px; }

#locatiefilm										{ min-width:300px;padding:15px 10px;margin:5px 0px 20px 0px;overflow:hidden; }
#locatiefilm h3										{ font-size:18px;text-align:center;margin:10px 0px 25px 0px;font-weight:400;line-height:26px; }

.routewidget 										{ position:relative;overflow:hidden; }
.routewidget #googlemap								{ width:100%;height:511px;position:relative; }
.routewidget .adres									{ background-color:#fff;width:300px;position:absolute;padding:15px 10px;left:0px;top:0px;line-height:29px;overflow:hidden; }
.routewidget .adres h2								{ font-size:18px;line-height:26px;margin:0px 15px 8px 0px;padding:0px;color:#000; }
.routewidget .adres input[type="text"]				{ width:250px;border:1px solid #b5b3b3;margin:0px 10px 5px 0px;padding:0px 5px;line-height:27px; }
.routewidget .adres .knop							{ display:block;float:right;width:30px;height:30px;background:url("../images/icoon.pijl.routeplanner.knop.png") center center no-repeat #ec118f;text-indent:-500px;text-decoration:none;overflow:hidden; }
.routewidget #directions								{ width:300px;margin:0px auto; }
.routewidget #directions .adp-text,				
.routewidget #directions .adp-placemark,			
.routewidget #directions .adp-directions,
.routewidget #directions .adp-legal					{ display:none !important; }
.routewidget #directions .adp-summary				{ display:block; }
.routewidget #directions>a							{ display:block;line-height:29px;margin:10px 15px 5px 0px;padding:0px 33px 0px 10px;background:url("../images/icoon.form.submit.png") right center no-repeat #ec118f;color:#fff;font-family:"Arimo", arial;border:0px;font-size:16x;font-weight:700;height:30px;cursor:pointer;text-decoration:none; }
.routewidget #directions>a:hover						{ color:#fff;text-decoration:none; }	

