/**********************
* STANDAARD ELEM.     *
**********************/

body, html						{ margin:0px;padding:0px;background-color:#fff;font-family:arial;font-size:12px;color:#333333; }
p                               				{ margin:0px 0px 21px 0px;line-height:21px;font-family:arial;font-size:12px; }
a img 							{ border:0px; }

h1								{ font-family:"Arimo";font-size:18px;text-transform:lowercase;font-weight:400;color:#ec118f;margin:0px 0px 14px 0px;padding:0px; }
h2                             				{ font-family:"Arimo";font-weight:700;color:#ec118f;margin:0px 0px 20px 0px;padding:0px; }
h3                             				{ font-family:"Arimo";font-weight:400;color:#ec118f;margin:0px 0px 20px 0px;padding:0px; }


.textshaduw						{ text-shadow:0px 1px 5px rgba(40,40,40,1); }
.dummy							{ overflow:hidden; }

.delenbalk                                	{ padding-top:5px;overflow:hidden; }
.addthis_toolbox				{ padding-top:0px; }
.delenbalk a						{ display:block;width:23px;height:23px;text-align:center;cursor:pointer;float:left;padding:0px 5px;overflow:hidden; }


/**********************
* WEBSITEBREDE ELEM.  *
**********************/

#website_container				{ overflow:hidden; }
#header							{ width:100%;position:relative;background-color:#000;overflow:visible;z-index:999; }
#fotoheader						{ width:100%;overflow:hidden; }
#homeheader                     			{ width:100%;overflow:hidden; }
#container_website				{ position:relative; }
#container_website .inhoud      	{ font-size:12px;line-height:21px; }
#headerafbeeldingen             		{ width:100%;background-color:#737373;margin-bottom:20px;position:relative;overflow:hidden; }
#footer                        			{ background-color:#000;overflow:hidden; }


/***********************
* SPECIFIEKE ELEMENTEN *
***********************/

.homepagina #content>h3							{ color:#000;font-size:18px;padding:0px 0px 0px 3px;margin:0px 0px 10px 0px; }



#portfoliooverzicht								{ overflow:hidden; }
#portfoliooverzicht .filterbalk					{ border:1px solid #d9d9d9;margin-bottom:50px;overflow:hidden; }
#portfoliooverzicht .filterbalk ul				{ margin:0px;padding:0px;list-style:none; }
#portfoliooverzicht .filterbalk ul li				{ float:left;margin:0px;line-height:34px;height:34px;font-size:14px;color:#000;padding:0px 5px;text-transform:uppercase;list-style:none; }
#portfoliooverzicht .filterbalk ul li.optie		{ color:#9f9f9f;cursor:pointer; }
#portfoliooverzicht .filterbalk ul li.optie:hover	{ color:#ec118f; }
#portfoliooverzicht .filterbalk ul li.actief		{ cursor:default;color:#ec118f; }
#portfoliooverzicht .items						{ width:120%;overflow:hidden; }
#portfoliooverzicht .items .item					{ display:block;width:312px;height:260px;margin:0px 22px 22px 0px;float:left;overflow:hidden;cursor:pointer;text-decoration:none !important; }
#portfoliooverzicht .items .item	.afbeelding		{ width:312px;height:174px;position:relative;background-color:#e5e5e5;overflow:hidden; }
#portfoliooverzicht .items .item	.afbeelding .overlay		{ width:312px;height:174px;position:absolute;top:-174px;left:0px;z-index:9;background:url("../images/overlay.portfolioitem.hover.png") center center no-repeat; }
#portfoliooverzicht .items .item	.info			{ font-family:"Arimo", arial;font-size:12px;color:#b9b9b9;overflow:hidden; }
#portfoliooverzicht .items .item	.info h3			{ font-size:14px;padding:16px 2px 12px 2px;margin-bottom:10px;border-bottom:1px solid #dbdbdb;color:#595858; }




#blogminiwidget									{ width:312px;float:right;overflow:hidden; }
#blogminiwidget .items .slider					{ width:31200px;overflow:hidden; }
#blogminiwidget .item							{ background-color:#f0f0f0;color:#000;padding:17px;width:278px;float:left;text-decoration:none !important;overflow:hidden; }
#blogminiwidget .item h3							{ font-size:24px;padding:0px;font-weight:700;margin-bottom:16px;color:#ec118f; }
#blogminiwidget .item .links						{ float:left;width:86px;overflow:hidden; }
#blogminiwidget .item .rechts					{ float:right;width:180px;overflow:hidden; }
#blogminiwidget .item .afbeelding				{ width:86px;height:101px;background:url("../images/achtergrond.blog.persoon.png") center center no-repeat; }								
#blogminiwidget .item .afbeelding img			{ width:71px;height:71px;padding:6px; }
#blogminiwidget .item .datum						{ font-size:16px;font-family:"Arimo", arial;color:#adacac;text-decoration:none !important; }
#blogminiwidget .item .filters					{ border-bottom:1px solid #c6c5c5;font-size:12px;font-family:"Arimo", arial;color:#a3a2a2;padding:0px 0px 13px 27px;background:url("../images/icoon.blog.categorie.png") left top no-repeat;margin-bottom:13px; }





#blogoverzicht										{ overflow:hidden; }
#blogoverzicht .filterbalk							{ position:relative;background:url("../images/icoon.blog.categorie.png") 30px center no-repeat;border:1px solid #d9d9d9;margin-bottom:50px;overflow:hidden; }
#blogoverzicht .filterbalk .rss_feed					{ display:block;position:absolute;left:0px;top:0px;width:30px;height:34px;background:url("../images/icoon.blog.rss.png") center center no-repeat;z-index:9; }
#blogoverzicht .filterbalk .rss_feed:hover			{ background:url("../images/icoon.blog.rss.aan.png") center center no-repeat; }
#blogoverzicht .filterbalk ul						{ margin:0px 0px 0px 56px;padding:0px;list-style:none; }
#blogoverzicht .filterbalk ul li						{ float:left;margin:0px;line-height:34px;height:34px;font-size:14px;color:#000;padding:0px 5px;text-transform:uppercase;list-style:none; }
#blogoverzicht .filterbalk ul li.optie					{ color:#9f9f9f;cursor:pointer; }
#blogoverzicht .filterbalk ul li.optie:hover			{ color:#ec118f; }
#blogoverzicht .filterbalk ul li.actief				{ cursor:default;color:#ec118f; }
#blogoverzicht .items								{ overflow:hidden; }
#blogoverzicht .items .item							{ display:block;height:270px;margin:0px 0px 22px 0px;overflow:hidden;cursor:pointer;text-decoration:none !important; }
#blogoverzicht .items .item	.afbeelding				{ width:640px;height:270px;position:relative;float:left;background-color:#e5e5e5;overflow:hidden; }
#blogoverzicht .items .item	.afbeelding .overlay		{ width:640px;height:270px;position:absolute;top:-270px;left:0px;z-index:9;background:url("../images/overlay.blogitem.hover.png") center center no-repeat; }
#blogoverzicht .items .item	.info					{ width:274px;height:236px;padding:17px;position:relative;float:right;background-color:#f0f0f0;font-family:"Arimo", arial;font-size:12px;color:#b9b9b9;overflow:hidden; }
#blogoverzicht .items .item	.info h2					{ font-size:24px;padding:0px 0px 12px 0px;margin-bottom:10px;color:#ec118f; }
#blogoverzicht .items .item	.info .details			{ position:absolute;bottom:17px;left:17px;width:274px;overflow:hidden;z-index:9; }
#blogoverzicht .items .item	.info .details .filters	{ background:url("../images/icoon.blog.categorie.png") left center no-repeat;padding:5px 0px 7px 25px;margin-bottom:15px;border-bottom:1px solid #cecece; }
#blogoverzicht .items .item	.info .details .blogger			{ float:left;width:86px;height:101px;background:url("../images/achtergrond.blog.persoon.png") center center no-repeat; }								
#blogoverzicht .items .item	.info .details .blogger img		{ width:71px;height:71px;padding:6px; }
#blogoverzicht .items .item	.info .details .overige_info		{ float:right;width:180px;line-height:22px;overflow:hidden; }
#blogoverzicht .items .item	.info .details .overige_info .datum	{ display:block;padding:3px 0px 5px 0px;font-family:"Arimo", arial;font-size:16px;line-height:20px; }
#blogoverzicht .items .item.even	.info								{ background-color:#9e9e9e; }
#blogoverzicht .items .item.even	.info h2								{ color:#fff; }
#blogoverzicht .items .item.even .info .details .filters				{ border-color:#d8d8d8;color:#d8d8d8; }
#blogoverzicht .items .item.even	.info .details .overige_info			{ color:#fff; }
#blogoverzicht .items .item.even	.info .details .overige_info .datum	{ color:#c5c5c5; }
#blogoverzicht .items .item.laatste					{ margin-bottom:0px; }

#blogoverzicht .items .navigatie						{ overflow:hidden; }
#blogoverzicht .items .navigatie span				{ display:block;color:#6f6f6f;font-size:14px;text-align:center;background-color:#dad9d9;float:left;padding:10px 17px;margin-right:12px;overflow:hidden;cursor:pointer; }
#blogoverzicht .items .navigatie span.volgende		{ display:none;padding-right:27px;background:url("../images/icoon.pijl.blogoverzicht.volgende.png") right center no-repeat #dad9d9; }
#blogoverzicht .items .navigatie span.vorige			{ display:none;padding-left:27px;background:url("../images/icoon.pijl.blogoverzicht.vorige.png") left center no-repeat #dad9d9; }
#blogoverzicht .items .navigatie span:hover,
#blogoverzicht .items .navigatie span.actief			{ background-color:#ec118f !important;color:#fff; }
#blogoverzicht .items .navigatie span.actief			{ cursor:default; }

#blogoverzicht .items .sliderrail					{ margin-bottom:22px;overflow:hidden; }
#blogoverzicht .items .slider						{ overflow:hidden; }
#blogoverzicht .items .slide							{ overflow:hidden; }




#contactformulier									{ width:100%;padding:30px 0px;background-color:#dddddc;overflow:hidden; }
#contactformulier .content							{ width:980px;margin:0px auto;overflow:hidden; }
#contactformulier .links								{ float:left; }
#contactformulier .rechts							{ float:left;margin-left:30px; }
#contactformulier form								{ margin:0px;padding:0px; }
#contactformulier form label							{ display:block;padding-left:3px;margin-bottom:5px;font-size:20px;font-family:"Arimo", arial;color:#000; }
#contactformulier form input[type="text"]				{ width:475px;padding:8px 5px;font-size:18px;margin-bottom:15px;font-family:"Arimo", arial;color:#666;border:0px;background-color:#fff; }
#contactformulier form textarea						{ width:980px;height:250px;padding:5px;font-size:18px;margin-bottom:10px;font-family:"Arimo", arial;color:#666;border:0px;background-color:#fff; }
#contactformulier form .checkbox						{ padding-top:20px;overflow:hidden; }
#contactformulier form .checkbox label				{ overflow:hidden;padding-top:8px;font-weight:700;font-size:20px; }
#contactformulier form .checkbox label .onderschrift	{ font-size:12px; }
#contactformulier input[type="submit"]				{ float:right;line-height:39px;padding:0px 33px 0px 10px;background:url("../images/icoon.form.submit.png") right center no-repeat #ec118f;color:#fff;font-family:"Arimo", arial;border:0px;font-size:20px;font-weight:700;height:40px;cursor:pointer; }	



#blogdetail											{ overflow:hidden; }
#blogdetail	.navigatie								{ margin-bottom:22px;background-color:#f0f0f0;overflow:hidden; }
#blogdetail	.navigatie a								{ color:#808080;line-height:50px;font-family:"Arimo";font-weight:normal;font-size:18px;display:block;text-decoration:none; }
#blogdetail	.navigatie a:hover						{ color:#ec118f;text-decoration:none; }
#blogdetail	.navigatie .vorige						{ float:left;padding:0px 10px 0px 28px;margin-left:10px;background:url("../images/icoon.blogberichten.vorige.png") center left no-repeat; } 
#blogdetail	.navigatie .volgende						{ float:right;padding:0px 28px 0px 10px;margin-right:10px;background:url("../images/icoon.blogberichten.volgende.png") center right no-repeat;  } 
#blogdetail h2										{ text-align:center; }
#blogdetail .afbeeldingen							{ height:500px;margin-bottom:22px;border:1px solid #d9d9d9;background-color:#f0f0f0;overflow:hidden; }
#blogdetail .inhoud									{ margin:0px 85px;overflow:hidden; }
#blogdetail .inhoud,
#blogdetail .inhoud p								{ font-size:14px; }
#blogdetail .inhoud h3								{ color:#000;font-size:20px;margin:28px 0px 12px 0px;}
#blogdetail .inhoud .auteur							{ padding:17px 23px 5px 23px;margin-bottom:22px;background-color:#f0f0f0;overflow:hidden; }
#blogdetail .inhoud .auteur .afbeelding				{ float:left;width:86px;height:101px;margin:4px 13px 4px 0px;background:url("../images/achtergrond.blog.persoon.png") center center no-repeat; }						
#blogdetail .inhoud .auteur .afbeelding img			{ width:71px;height:71px;padding:6px; }
#blogdetail .inhoud .auteur .info					{ font-size:12px;line-height:18px;font-family:"Arimo";color:#969595;float:left;width:250px;overflow:hidden; } 
#blogdetail .inhoud .auteur .info .datum				{ font-family:"Arimo";line-height:30px;font-weight:normal;color:#adacac;font-size:16px; }
#blogdetail .inhoud .auteur .tags					{ float:right;color:#bab9b9;background:url("../images/icoon.blog.categorie.png") left center no-repeat;padding:5px 0px 7px 25px;height:20px;overflow:hidden; } 
#blogdetail .inhoud .reactiebalk						{ padding:13px 17px;margin-bottom:20px;color:#fff;font-family:"Arimo";font-weight:700;font-size:20px;background:url("../images/icoon.blogberichten.reactiebalk.uit.png") center right no-repeat #ec118f;cursor:pointer;overflow:hidden; }
#blogdetail .inhoud .reactiebalk.actief				{ background:url("../images/icoon.blogberichten.reactiebalk.aan.png") center right no-repeat #ec118f; }
#blogdetail .inhoud .reacties						{ display:none;overflow:hidden; }





#medewerkers_overzicht .items .item .informatie h4 .social_media	{ position:absolute;right:3px;top:11px;overflow:hidden;z-index:9; }
#medewerkers_overzicht .items .item .informatie h4 .social_media a	{ display:block;float:left;width:24px;height:24px;margin-left:5px;overflow:hidden;text-decoration:none; }
#medewerkers_overzicht .social_media a.facebook					{ background:url("../images/icoon.facebook.link.inactief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.facebook:hover			{ background:url("../images/icoon.facebook.link.actief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.linkedin					{ background:url("../images/icoon.linkedin.link.inactief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.linkedin:hover			{ background:url("../images/icoon.linkedin.link.actief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.twitter					{ background:url("../images/icoon.twitter.link.inactief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.twitter:hover				{ background:url("../images/icoon.twitter.link.actief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.google_plus				{ background:url("../images/icoon.google_plus.link.inactief.png") center center no-repeat; }
#medewerkers_overzicht .social_media a.google_plus:hover			{ background:url("../images/icoon.google_plus.link.actief.png") center center no-repeat; }


#portfoliodetail												{ display:none;width:100%;padding-top:39px;background-color:#e2e2e1;overflow:hidden; }
#portfoliodetail .content										{ width:980px;margin:0px auto;position:relative;overflow:hidden; }
#portfoliodetail .content .afbeeldingen							{ float:left;width:640px;overflow:hidden; }
#portfoliodetail .content .afbeeldingen .sliderrail				{ width:640px;height:436px;background-color:#f5f5f5;overflow:hidden; }
#portfoliodetail .content .afbeeldingen .navigatie				{ height:39px;overflow:hidden; }
#portfoliodetail .content .informatie							{ float:right;width:310px;font-size:12px;padding-bottom:56px;margin-bottom:39px; }
#portfoliodetail .content .informatie h2							{ border-top:1px solid #c2c2c1;border-bottom:1px solid #c2c2c1;padding:16px 2px;margin:12px 0px;color:#000;font-size:18px;font-weight:normal; }
#portfoliodetail .content .informatie .klantentags				{ margin-bottom:12px;line-height:21px;font-family:"Arimo",arial;color:#858384;overflow:hidden; }
#portfoliodetail .content .contactknop							{ display:block;position:absolute;width:256px;background:url("../images/icoon.contactknop.portfoliodetail.png") right center no-repeat #fff;padding:14px 40px 14px 14px;bottom:39px;right:0px;overflow:hidden;color:#636363;font-family:"Arimo", arial;font-size:18px;text-decoration:none; }
#portfoliodetail .content .contactknop:hover						{ color:#fff;background-color:#ec118f;text-decoration:none; }
#portfoliodetail .opties 										{ position:relative;overflow:hidden;line-height:21px; }
#portfoliodetail .opties .sluiten								{ float:right;font-family:"Arimo", arial;font-size:12px;background:url("../images/icoon.sluiten.portfoliodetail.png") right top no-repeat;overflow:hidden;cursor:pointer;color:#858384;padding-right:28px;margin-left:10px; }
#portfoliodetail .opties .sluiten:hover							{ color:#ec118f; }
#portfoliodetail .opties .website a								{ display:block;float:right;font-family:"Arimo", arial;font-size:12px;color:#858384;padding:0px 10px;text-decoration:none;color:#6f6f6e;background:url("../images/icoon.spacer.portfoliodetail.png") right center no-repeat; }
#portfoliodetail .opties .website a:hover						{ color:#ec118f;text-decoration:none; }
#portfoliodetail .opties .volgende								{ display:block;width:19px;height:19px;top:0px;left:25px;background:url("../images/icoon.volgende.portfoliodetail.png") center center no-repeat;position:absolute;z-index:10; }
#portfoliodetail .opties .vorige									{ display:block;width:19px;height:19px;top:0px;left:0px;background:url("../images/icoon.vorige.portfoliodetail.png") center center no-repeat;position:absolute;z-index:10; }						


.paginacontactknop					{ display:block;background:url("../images/icoon.contactknop.pagina.png") right center no-repeat #737373;padding:14px 40px 14px 14px;overflow:hidden;color:#fff;font-family:"Arimo", arial;font-size:18px;margin-bottom:18px;text-decoration:none; }
.paginacontactknop:hover			{ color:#fff;background-color:#ec118f;text-decoration:none; }