body								{ padding:0px !important; }

.vimeo								{ border:0px;width:100%;height:450px; }
.desktop_only						{ display:block; }
.mobiel_only						{ display:none; }


/**********************
* WEBSITEBREDE ELEM.  *
**********************/

#header								{ height:56px;overflow:visible; }
#header .content						{ width:980px;padding:0px 10px;margin:0px auto;position:relative;overflow:visible;z-index:999; }
#header .logo						{ position:absolute;left:9px;top:12px;overflow:hidden; }
#header .menu						{ position:absolute;left:320px;top:0px;overflow:visible;z-index:999; }
#header .menu>ul						{ margin:0px;padding:0px;list-style:none;overflow:visible; }
#header .menu>ul>li					{ margin:0px;padding:0px;list-style:none;position:relative;float:left;overflow:visible; }
#header .menu>ul>li>a					{ display:block;padding:0px 25px 0px 0px;font-family:"Arimo", arial;color:#b0adad;text-transform:uppercase;line-height:58px;font-size:16px;text-decoration:none;overflow:hidden; }
#header .menu>ul>li>a:hover			{ color:#fff;text-decoration:none; }
#header .menu>ul>li.active>a			{ color:#fff;cursor:default; }
#header .menu>ul>li>ul                   		{ display:none;padding:8px 0px;width:230px;background-color:#fff;position:absolute;top:35px;left:-13px;overflow:visible;z-index:999; }
#header .menu>ul>li>ul>li                      	{ margin:0px;padding:0px;list-style:none;overflow:hidden; }
#header .menu>ul>li>ul>li.last                { border:0px; }
#header .menu>ul>li>ul>li>a                    	{ display:block;font-size:14px;color:#858383;font-family:"Arimo", arial;text-transform:uppercase;padding:6px 12px;text-decoration:none;overflow:hidden; }
#header .menu>ul>li>ul>li>a:hover      	{ color:#ee2699;text-decoration:none; }
#header .menu>ul>li>ul>li.active>a         { color:#ee2699;cursor:default; }
#header .menu>ul>li>ul>.driehoek		{ position:absolute;width:18px;height:10px;background:url("../images/icoon.submenu.hoofdmenu.png") center top no-repeat;top:-10px;left:16px;overflow:hidden;z-index:99999; }
#header .menu>u>li>ul>li>ul 			{ display:none; }
#header .mobielmenu_activator		{ display:none; }
.menu_mobiel						{ display:none; }

#footer                        				{ width:100%;padding:15px 0px 35px 0px;margin-top:70px; }
#footer .content                      		{ width:980px;padding:0px 10px;margin:0px auto;overflow:hidden; }
#footer .content>.kolom				{ float:left;text-transform:lowercase;overflow:hidden;padding:8px 25px 0px 25px;border-right:1px solid #303030; } 
#footer .content>.kolom h5			{ font-size:18px;padding:0px;margin:0px 0px 18px 0px;color:#fff;font-family:"Arimo", arial;font-weight:normal; }
#footer .menu-columns				{ text-transform:lowercase;float:left;overflow:hidden; }
#footer .menu-columns>ul				{ margin:0px;list-style:none;float:left;padding:8px 25px;border-right:1px solid #303030;overflow:hidden; }
#footer .menu-columns>ul>li			{ margin:0px 0px 15px 0px;padding:0px;list-style:none;overflow:hidden; }
#footer .menu-columns>ul>li>a			{ font-size:18px;margin:0px 0px 18px 0px;display:block;color:#fff;font-family:"Arimo", arial;font-weight:normal;text-decoration:none; }
#footer .menu-columns>ul>li>ul		{ margin:0px;padding:0px;list-style:none;overflow:hidden; }
#footer .menu-columns>ul>li>ul>.kolom	{ float:left;margin-right:15px;overflow:hidden; }
#footer .menu-columns>ul>li>ul li		{ margin:0px;padding:0px;list-style:none;overflow:hidden; }
#footer .menu-columns>ul>li>ul li>a		{ font-size:12px;margin:0px 0px 7px 0px;display:block;font-family:arial;color:#808080;font-weight:normal;text-decoration:none; }
#footer .menu-columns>ul>li>ul li>ul	{ display:none !important; }
#footer .menu-columns a:hover		{ color:#ec118f;text-decoration:none; }
#footer .content>.kolom.socialmedia			{ overflow:hidden; }
#footer .content>.kolom.socialmedia a		{ opacity:0.5;display:block;margin-bottom:7px;font-family:arial;font-weight:normal;font-size:12px;text-decoration:none;color:#fff; }
#footer .content>.kolom.socialmedia a:hover	{ opacity:1;display:block;text-decoration:none;color:#fff; }
#footer .content>.kolom.socialmedia a img	{ margin-right:3px;vertical-align:-2px; }


.homepagina .tekstblok							{ float:left;margin-left:50px;width:240px; }
.homepagina .tekstblok.eerste					{ margin:0px; }
.homepagina .tekstblok h1						{ margin-top:17px; }
.homepagina .filterbalk							{ border:1px solid #d9d9d9;height:34px;margin-bottom:22px;overflow:hidden; }
.homepagina .filterbalk ul						{ margin:0px;padding:0px;list-style:none; }
.homepagina .filterbalk ul li						{ float:left;margin:0px;height:34px;line-height:34px;height:34px;font-size:14px;color:#000;padding:0px 5px;text-transform:uppercase;list-style:none; }
.homepagina .filterbalk ul li a					{ float:left;margin:0px;display:block;text-transform:uppercase;line-height:34px;height:34px;font-size:14px;color:#000;padding:0px 5px;text-transform:uppercase;list-style:none;text-decoration:none; }
.homepagina .filterbalk ul li.optie a				{ color:#9f9f9f;cursor:pointer; }
.homepagina .filterbalk ul li.optie a:hover		{ color:#ec118f; }




#fotoheader							{ height:120px;position:relative;overflow:hidden; }
#fotoheader>img                     			{ min-height:120px;width:100%;position:absolute;left:0px;top:0px;z-index:1; }
#fotoheader .content					{ width:980px;margin:0px auto;position:relative;overflow:hidden;z-index:9; }
#fotoheader .content h1	           		{ float:right;margin-top:48px;line-height:54px;height:58px;font-size:48px;font-weight:700;color:#fff;font-family:"Arimo", arial;background:url("../images/achtergrond.titel.fotoheader.png") left top repeat;padding:0px 10px;text-transform:lowercase; }

#homeheader							{ height:422px;position:relative;overflow:hidden; }
#homeheader .slider                 		{ width:100%;height:42200px;overflow:hidden; }
#homeheader .slider .slide         		{ display:block;width:100%;height:422px;overflow:hidden; }
#homeheader .slider .slide>img     	{ min-height:422px;width:100%;position:absolute;left:0px;top:0px;z-index:1; }


#content							{ width:980px;padding:20px 10px;margin:0px auto;background-color:#FFF;overflow:hidden; }
#content .links                    			{ float:left;width:640px;overflow:hidden; }
#content .rechts                    			{ float:right;width:308px;overflow:hidden; }

#submenu                            			{ margin-bottom:18px;padding:3px 18px;background-color:#f0f0f0;overflow:visible; }
#submenu ul                         			{ margin:0px;padding:0px;overflow:visible; }
#submenu ul>li                      			{ margin:0px;padding:0px;border-bottom:1px solid #cecece;list-style:none;overflow:visible; }
#submenu ul>li.last                 			{ border:0px; }
#submenu ul>li>a                    			{ display:block;font-size:16px;color:#646464;font-family:"Arimo", arial;text-transform:lowercase;padding:6px 0px;text-decoration:none;overflow:hidden; }
#submenu ul>li>a:hover              		{ color:#ec118f;text-decoration:none; }
#submenu ul>li.active>a             		{ color:#ec118f;cursor:default; }
#submenu ul>li>ul                   			{ display:none; }

#blogwidget										{ width:380px;float:right;overflow:hidden; }
#blogwidget .item								{ display:block;background-color:#f0f0f0;color:#000;padding:17px;text-decoration:none !important;overflow:hidden; }
#blogwidget .item h3								{ font-size:18px;padding:0px;margin-bottom:16px;color:#ec118f; }
#blogwidget .item .links							{ float:left;width:86px;overflow:hidden; }
#blogwidget .item .rechts						{ float:right;width:234px;overflow:hidden; }
#blogwidget .item .afbeelding					{ width:86px;height:101px;background:url("../images/achtergrond.blog.persoon.png") center center no-repeat; }								
#blogwidget .item .afbeelding img				{ width:71px;height:71px;padding:6px; }
#blogwidget .item .datum							{ text-align:right;font-size:16px;font-family:"Arimo", arial;color:#adacac;text-decoration:none !important; }

.homepagina #vers_werk .items								{ width:110%;height:152px;margin-bottom:28px;overflow:hidden }
.homepagina #vers_werk .items .slider						{ width:100%;height:152px;overflow:hidden; }
.homepagina #vers_werk .items .item							{ width:177px;height:152px;margin-right:23px; }
.homepagina #vers_werk .items .item	.afbeelding				{ width:177px;height:99px;position:relative;background-color:#e5e5e5;overflow:hidden; }
.homepagina #vers_werk .items .item	.afbeelding img			{ width:177px;height:99px; }
.homepagina #vers_werk .items .item	.afbeelding .overlay		{ width:177px;height:99px;position:absolute;top:-99px;left:0px;z-index:9;background:url("../images/overlay.portfolioitem.home.hover.png") center center no-repeat; }
.homepagina #vers_werk .items .item	.info					{ border-bottom:1px solid #dbdbdb;overflow:hidden; }
.homepagina #vers_werk .items .item	.onderschrift,
.homepagina #vers_werk .items .item	.filters				{ display:none; }
.homepagina #vers_werk .items .item	.info h3					{ font-family:"Arimo", arial;font-size:14px;padding:12px 2px 0px 2px;margin-bottom:10px;border:0px;color:#595858; }

#vers_werk										{ margin-bottom:18px;overflow:hidden; }
#vers_werk .items								{ width:312px;height:260px;overflow:hidden }
#vers_werk .items .slider						{ width:31200px;height:260px;overflow:hidden; }
#vers_werk .items .item							{ display:block;float:left;width:312px;height:260px;float:left;overflow:hidden;cursor:pointer;text-decoration:none !important; }
#vers_werk .items .item	.afbeelding				{ width:312px;height:174px;position:relative;background-color:#e5e5e5;overflow:hidden; }
#vers_werk .items .item	.afbeelding .overlay		{ width:312px;height:174px;position:absolute;top:-174px;left:0px;z-index:9;background:url("../images/overlay.portfolioitem.hover.png") center center no-repeat; }
#vers_werk .items .item	.info					{ font-family:"Arimo", arial;font-size:12px;color:#b9b9b9;overflow:hidden; }
#vers_werk .items .item	.info h3					{ font-size:14px;padding:16px 2px 12px 2px;margin-bottom:10px;border-bottom:1px solid #dbdbdb;color:#595858; }



#headerafbeeldingen                         			{ height:314px;width:640px;overflow:hidden; }
#headerafbeeldingen img                     			{ width:640px;height:314px; }
#headerafbeeldingen .slider                 		{ width:640px;height:31400px;overflow:hidden; }
#headerafbeeldingen .slider .slide         		{ width:640px;height:314px;overflow:hidden; }
#headerafbeeldingen .slider .slide img      	{ width:640px;height:314px; }
#headerafbeeldingen .navigatie              		{ position:absolute;left:9px;bottom:9px; }
#headerafbeeldingen .navigatie div          		{ float:left;width:15px;height:15px;background:url("../images/icoon.navigatie.inactief.headerafbeeldingen.png") center center no-repeat;cursor:pointer; }
#headerafbeeldingen .navigatie div.actief   	{ background:url("../images/icoon.navigatie.actief.headerafbeeldingen.png") center center no-repeat; }

.team_werken_bij h3									{ font-size:24px;font-weight:700;line-height:28px; }
.team_werken_bij #content .afbeelding				{ float:right;margin:5px 0px 25px 25px; }
#team												{ width:100%;padding:30px 0px 0px 0px;background-color:#dddddc;overflow:hidden; }
#team .content										{ width:980px;margin:0px auto;overflow:visible; }
#werken_bij											{ width:980px;padding:30px 0px;margin:0px auto;overflow:hidden; }
#werken_bij .afbeelding								{ float:right;margin:5px 0px 25px 25px; }

#medewerkers_overzicht											{ width:1000px;margin-left:-10px;overflow:visible; }
#medewerkers_overzicht .items									{ width:1050px;overflow:hidden; }
#medewerkers_overzicht .items .item								{ width:308px;height:262px;padding:0px 9px;margin:0px 16px 22px 0px;float:left;background:url("../images/achtergrond.medewerkers.afbeelding.png") center top no-repeat; }
#medewerkers_overzicht .items .item .afbeelding					{ width:293px;height:184px;margin:7px 8px;background-color:#000;overflow:hidden; }
#medewerkers_overzicht .items .item .informatie					{ font-family:"Arimo",arial;padding:0px 3px;font-weight:normal;font-size:12px;color:#969595;overflow:hidden; }
#medewerkers_overzicht .items .item .informatie h4				{ font-size:14px;color:#595858;font-weight:normal;border-bottom:1px solid #bcbcbb;position:relative;padding:15px 0px 12px 0px;margin:0px 0px 12px 0px;overflow:hidden; }

.contactpagina h3									{ font-size:24px;font-weight:700;line-height:28px; }
.contactpagina #content>.afbeelding					{ float:right;margin:5px 0px 25px 25px; }

.contactpagina .blokken								{ margin-top:35px;width:110%;overflow:hidden; }
.contactpagina .blokken .blok						{ float:left;font-family:"Arimo",arial;font-size:14px;line-height:24px;color:#8a8888;width:308px;margin-right:22px;overflow:hidden; }
.contactpagina .blokken .blok .afbeelding			{ width:308px;height:174px;margin-bottom:9px;overflow:hidden; }
.contactpagina .blokken .blok h4						{ font-size:14px;font-family:"Arimo", arial;margin:0px 0px 10px 0px;font-weight:400;padding:0px 0px 10px 0px;border-bottom:1px solid #dbdbdb;color:#595858; }
.contactpagina .blokken .blok.social a				{ opacity:0.5;display:block;font-family:"Arimo", arial;font-size:14px;line-height:30px;width:154px;float:left;margin-bottom:7px;text-decoration:none;color:#000; }
.contactpagina .blokken .blok.social a:hover			{ opacity:1;display:block;text-decoration:none;color:#000; }
.contactpagina .blokken .blok.social a img			{ margin-right:3px;vertical-align:-7px; }

#locatiefilm										{ width:980px;padding:30px 0px;margin:0px auto;overflow:hidden; }
#locatiefilm h3										{ font-size:24px;font-weight:700;line-height:28px; }

.routewidget 										{ position:relative;overflow:hidden; }
.routewidget #googlemap								{ width:100%;height:511px;position:relative; }
.routewidget .adres									{ background-color:#fff;width:618px;position:absolute;padding:15px;left:50%;top:0px;line-height:29px;margin-left:-309px;overflow:hidden; }
.routewidget .adres h2								{ font-size:24px;line-height:29px;margin:0px 15px 0px 0px;padding:0px;float:left;color:#000; }
.routewidget .adres input[type="text"]				{ width:170px;border:1px solid #b5b3b3;margin:0px;margin-right:10px;padding:0px 5px;line-height:27px; }
.routewidget .adres .knop							{ display:block;float:right;width:30px;height:30px;background:url("../images/icoon.pijl.routeplanner.knop.png") center center no-repeat #ec118f;text-indent:-500px;text-decoration:none;overflow:hidden; }
.routewidget #directions								{ width:980px;margin:0px auto; }
.routewidget #directions .adp-text,				
.routewidget #directions .adp-placemark,			
.routewidget #directions .adp-directions,
.routewidget #directions .adp-legal					{ display:none !important; }
.routewidget #directions .adp-summary				{ display:block; }
.routewidget #directions>a							{ float:left;display:block;line-height:29px;margin:10px 15px 5px 0px;padding:0px 33px 0px 10px;background:url("../images/icoon.form.submit.png") right center no-repeat #ec118f;color:#fff;font-family:"Arimo", arial;border:0px;font-size:16x;font-weight:700;height:30px;cursor:pointer;text-decoration:none; }
.routewidget #directions>a:hover						{ color:#fff;text-decoration:none; }	

