/* Remove unwanted elements */
header, nav, aside, .noprint, .backstretch, .share-button-wrap, .headerbg
{
    display: none;
}

.doprint{
    display: block;
}

.printlogo{
    display: block; width:187px; height:109px;
}

/* Ensure the content spans the full width */
.content,
.content .post h1
{
    width: 100%; margin: 0; float: none;
}

.content .post,
.content .post h1,
.content .post p
{
    color:#000000;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
    color: #000
}

/* Improve colour contrast of links */
a:link, a:visited
{
    color: #781351
}