body {
    padding-top: 0px;
}
p {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 26px;
}
.bottom-border {
    border-top: 5px solid rgba(0, 0, 0, 0.025);
    margin: 4px auto 20px;
    clear: both;
}
.navigation {
    height: 36px;
    margin-left: 0;
    margin-top: 14px;
    padding: 24px 0 0;
    list-style: none;
    vertical-align: bottom;
}
ul.navigation li {
    float: left;
    margin-right: 20px;
}
ul.navigation li:last-child {
    float: left;
    margin-right: 0;
}
ul.navigation li a {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.85);
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}
ul.navigation li a:hover {
    opacity: 0.4;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

ul.navigation > li ul{
    display:none;
}

.logo {
    min-height: 70px;
    margin: 34px 0;
}
.contact-info {
    height: 30px;
    width: auto;
    margin-bottom: 10px;
}
.contact-info ul {
    list-style: none;
    float: right;
    margin: 8px 0 0;
}
.contact-info ul li {
    float: left;
    margin: 0 12px 0 0;
    padding: 2px 12px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 12px;
    height: 30px;
    line-height: 24px;
}
.contact-info ul li:last-child {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}
.copyright {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    text-align: right;
    padding: 2px 0 0;
}
footer {
    padding-bottom: 10px;
}
footer .link-list li a {
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}
footer .link-list li a:hover {
    opacity: 0.4;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}
.logo {
    max-height: 82px;
    margin: 0;
}
.page-title {
    min-height: 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.025);
    margin: 0 0 40px;
    padding: 0 0 20px;
}
article {
    margin-bottom: 50px;
}
article p {
    font-size: 13px;
    line-height: 19px;
}
.widget{
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #efefef 65%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(65%, #fefefe), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(top, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#fafafa',GradientType=0 );
    border: none;
    margin: 10px 0 20px 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.gallery-thumb {
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #efefef 65%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(65%, #fefefe), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(top, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #fefefe 65%, #fafafa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#fafafa',GradientType=0 );
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding:3px;
    margin:3px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.065), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}


.product-tabs{
    overflow:hidden;
}

.product-tabs > div {
    float:left;
    padding:5px;
    margin-right:20px;
    background-color: #cecece;
}


.faqs-list h3{
    cursor: pointer;
    font-weight: bold;
    font-size:18px;
}


.widget h5 {
    font-weight: 300;
    padding: 0 14px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.widget ul {
    padding: 0 14px 8px 16px;
}
.widget ul li a {
    color: black;
    font-size: 13px;
    transition: color 1s;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
}
.widget ul li a:hover {
    color: rgba(0, 0, 0, 0.45);
    transition: color 1s;
    -moz-transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: color 1s;
}
textarea {
    border: 1px solid rgba(0, 0, 0, 0.085);
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}

/* start media query */

@media only screen and (max-width: 767px) {
    .nav-bar > li {
        border: none;
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.14);
        padding: 4px 0;
    }
    .nav-bar > li:last-child {
        border: none;
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    }
    .nav-bar {
        background: #333;
        box-shadow: inset 0 -9px 9px -6px rgba(0, 0, 0, 0.35);
    }
    .nav-bar > li:hover {
        border-bottom: none;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .copyright {
        text-align: center;
        line-height: 15px;
    }
    .logo-box {
        text-align: center;
    }
    .logo {
        max-height: 94px;
    }
    .page-title {
        margin: 0 0 34px;
    }
}